body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    --workspace-background: #CCEEFF;
    --workspace-grid: rgba(0, 0, 0, 0.3);
    
    --pane-header: #1b5757;
    --pane-divider: #1b5757;
    --pane-backdrop: #022222;
    --pane-title: #ceddff;

    --drag-handle: rgba(255, 255, 255, 0.5);


    --ficscript-editor-background: #232a2e;
    --ficscript-comment: #30A330;
    --ficscript-brackets: #4d5bd4;
    --ficscript-accessors: #4d5bd4;
    --ficscript-string: #EEAA88;
    --ficscript-variable: #00CCFF;
    --ficscript-method: #AA77FF;
}